@import "variables";
@import "mixins";

body {
	background-color: $color-white;
	font-family: $font-primary;
	margin: 0;
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	@include container-breakpoints;
}

header{
	&.main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9;

		background-color: $color-white;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
		height: $header-height;

		$logo-size: $header-height - 20px;

		h1 {
			position: absolute;
			z-index: 10;
			float: left;
			margin: 0;
			padding: 0;
			height: $header-height;
			a {
				display: inline-block;
				height: $logo-size;
				width: $logo-size;
				line-height: $logo-size;
				margin-top: 10px;
				text-align: center;
				background-color: $color-black-2;
				color: $color-white;
				img {
					// filter: brightness(0);
				}
			}
		}

		nav {
			position: relative;
			height: $header-height;
			float: right;

			.menu-btn {
				cursor: pointer;
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 36px;
				transform: translateY(-50%);
				z-index: 10;
				&:before,
				&:after {
					background-color: $color-black-2;
					content: '';
					display: block;
					height: 4px;
					transition: all 200ms ease-in-out;
				}
				&:before {
					// box-shadow: 0 10px 0 $color-black-2;
					margin-bottom: 10px;
				}
				&:after{
					width: 70%;
					margin-left: 30%;
				}
			}

			#toggle {
				position: absolute;
				left: -100%;
				top: -100%;
			}

			.nav-menu-wrapper {
				display: none;
				position: fixed;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100vw;
				background-color: $color-black-2;
				z-index: 9;

				.nav-menu-inner {
					width: 500px;
					@media (max-width: 600px) {
						width: 88%;
					}
					margin: 100px auto 0 auto;
					.links {
						list-style: none;
						padding: 0;
						li {
							a {
								border: 0;
								border-top: 1px solid $color-black-5;
								display: block;
								font-size: .8em;
								font-weight: 600;
								letter-spacing: .25em;
								line-height: 4em;
								text-decoration: none;
								text-transform: uppercase;
								text-align: center;
								color: $color-white;
							}
							&:first-child a {
								border-top: 0 !important;
							}
						}
					}
				}
			}

			#toggle:checked {
				& ~ .toggle-container .menu-btn {
					&:before {
						// box-shadow: 0 0 0 $color-white;
						background-color: $color-white;
						transform: translateY(10px) rotate(45deg);
						margin-bottom: 16px;
					}
					&:after{
						transform: translateY(-10px) rotate(-45deg);
						background-color: $color-white;
						width: 100%;
						margin-left: 0;
					}
				}
				& ~ .nav-menu-wrapper {
					display: block;
				}
			}
		}

	}
}

@mixin hero-heading-start {
	box-shadow: inset -780px -15px 0 $color-white, inset 0 -30px 0 $secondary-color;
}

@mixin hero-heading-end {
	box-shadow: inset 0 -15px 0 $color-white, inset 0 -30px 0 $secondary-color;
	@media (max-width: 700px) {
		box-shadow: inset 0 -12px 0 $color-white, inset 0 -25px 0 $secondary-color;
	}
	@media (max-width: 540px) {
		box-shadow: inset 0 -10px 0 $color-white, inset 0 -25px 0 $secondary-color;
	}
}

@keyframes slide-in {
  0%   {
		@include hero-heading-start;
	}
  100% {
		@include hero-heading-end;
	}
}

.hero {
	padding-top: 75px;
	text-align: center;

	@include respond-up('small') {
		padding-top: 140px;
		text-align: left;
	}

	.hero-heading-wrapper {

	}

	.hero-heading {
		display: inline;
		font-weight: 900;
		font-size: 35px;
		line-height: 55px;
		color: #000;
		font-family: $font-spartan;
		padding: 0 8px;
		transition: all 0.3s;

		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

		@include respond-down('small') {
			@include hero-heading-end;
		}
		@include respond-up('small') {
			animation: slide-in 0.75s cubic-bezier(.36,0,0,.99) 1s 1 normal forwards;
			font-size: 47px;
			line-height: 58px;
		}
		@include respond-up('medium') {
			font-size: 50px;
			line-height: 60px;
		}
		@include respond-up('large') {
			font-size: 55px;
			line-height: 65px;
		}
	}

	.hero-content {
		width: 100%;
		margin-top: 60px;
		@include respond-up('small') {
			width: 50%;
			padding-right: 30px;
			margin-top: 70px;
		}
    font-size: 21px;
    color: #000;
    line-height: 40px;
		text-align: justify;
		box-sizing: border-box;
	}
}

a {
	@include underline-link(inactive);

	&:hover {
		@include underline-link(active);
	}
	&.no-hover {
		&:before,
		&:after {
			display: none;
		}
		&:hover {
			&:before,
			&:after {
				display: none;
			}
		}
	}

}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	font-weight: 400;
}

main {
	// padding: 30px 0;
}

footer {
	&.main {
		box-sizing: border-box;
		background-color: $footer-color;

		position: absolute;
		bottom: 0;
		width: 100%;
		height: $footer-height;
		line-height: $footer-height;
	}
}

.page-container {
	position: relative;
	min-height: 100vh;
	.container-wrapper {
		padding: 75px 0 $footer-height 0;
	}
}


.portfolio {
	@include clear-fix;
	.column {
		float: left;
		box-sizing: border-box;
		width: 100%;

		&.--left {
			padding-right: 0;
			padding-top: 50px;
		}
		&.--right {
			padding-left: 0;
		}

		@include respond-up('small') {
			width: 50%;
			&.--left {
				padding-right: 30px;
				padding-top: 90px;
			}
			&.--right {
				padding-left: 30px;
			}
		}

		.project-card {
			box-sizing: border-box;
			background-color: $color-gray-1;
			margin-bottom: 60px;
			min-height: 300px;
			cursor: pointer;

			img {
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				width: auto;
				height: auto;
				max-width: 60%;
				max-height: 60%;
				opacity: 0.5;

				transition: all 300ms;

				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
			}

			.image-container {
				position: relative;
				width: 100%;
				height: 300px;
				background-color: $color-gray-2;
			}

			.project-content {
				padding: 40px 20px;
				@include clear-fix;

				.view-project-link {
					float: right;
					font-family: $font-heading;
					font-weight: 400;
					font-size: 13px;
					line-height: 32px;
					@include underline-link(inactive, 4px);
				}
				.project-name {
					float: left;
					margin: 0;
				}
			}

			&:hover {
				img {
					opacity: 1;
					-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
					filter: none;
				}
				.project-content {
					.view-project-link {
						@include underline-link(active, 4px);
					}
				}
			}
		}
	}
}