// Sizes
$header-height: 75px;
$footer-height: 100px;

// Colors
$color-white: #ffffff;

$color-gray-1: #f7f7f7;
$color-gray-2: #ececec;

$color-black-0: #000000;
$color-black-1: #222222;
$color-black-2: #222222;

$color-salmon: #ff4444;
$color-seafoam: #0fcabf;

// Fonts
@font-face {
	font-family: 'Spartan MB';
	src: url('/fonts/spartanmb-black.woff2') format('woff2'),
			 url('/fonts/spartanmb-black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$font-spartan: 'Spartan MB',Now,"HK Grotesk","Work Sans",Lato,"Helvetica Neue",Arial,sans-serif;

$font-heading: $font-spartan;
$font-primary: 'Helvetica Neue', sans-serif;


// Theme Colors
$secondary-color: $color-seafoam;
$footer-color: $color-gray-1;